*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 100;
   
}
body{
    background: black;
}

.container{
    margin: auto;
    width: 75%;
    background-color: rgb(59, 59, 73);
    color: white;
}

.picture{
    justify-content: center;
    display: flex;
    background-color:  rgb(59, 59, 73);
    
    img{
        width: 750px;
        height: 700px;
        border-radius: 100px;
    }
}

.details{
    text-align: center;
    #contactName{
        text-align: center;
    }
   button{
       align-items: center;
       
       width: 200px;
       height: 200px;
       font-size: 50px;
       background-color: rgb(59, 59, 73);
       border: none;
   }
    h1{
        font-size: 80px;
    }
}

.phoneNumber{
    background-color: red;
    text-align: center;
    align-items: center;
    height: 100px;
    padding-top: 30px;
   
}


