* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 100;
}
body {
  background: black;
  overflow: scroll;
}

.container {
  margin: auto;
  width: 75%;
  height: 100vh;
  background-color: black;
  color: white;
}

.picture {
  justify-content: center;
  display: flex;
  background-color: black;

  img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
  }
}

.details {
  text-align: center;
  background-color: rgb(43, 43, 59);
  border-radius: 2rem;
  margin-bottom: 1rem;
  height: 150px;

  button {
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(43, 43, 59);
    border: none;
  }
  #btn-phone {
    color: rgb(36, 158, 36);
  }

  #btn-msg {
    color: rgb(55, 127, 209);
  }

  #btn-facetime {
    color: rgb(67, 76, 197);
  }
  h1 {
    font-size: 20px;
    padding-top: 2rem;
  }
}

.phoneNumber {
  background-color: rgb(43, 43, 59);
  text-align: left;
  align-items: center;
  height: 40px;
  padding-top: 10px;
  border-radius: 2rem;
  font-size: 10px;
  justify-content: center;
  #number {
    margin-left: 10px;
  }
}

// Media

@media screen and (max-height: 600px) {
  .picture img {
    max-width: 50vh;
    max-height: 50vh;
    min-width: 100px;
    min-height: 100px;
    border-radius: 2rem;
    position: relative;
  }
}
